In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#튜플
# 불변자료형(Immutable),   -> 그말인 즉슨 값을 바꾸는 append. remove, extend sort, reverse등 메소드 사용불가!!! 슬라이싱은 가능
# 각 항목은 쉼표(,)로 구분 됨, 소괄호로 정의됨.

In [54]:
# 예시 튜플 생략
btuple = 5, -3, 3.14, 'read', '드럼' #괄호 안써도 튜플 생성 가능.
btuple

(5, -3, 3.14, 'read', '드럼')

In [3]:
# 예시 튜플 생성 생략

In [53]:
tuple1 = tuple('피아노') #따로따로 들어간다!
tuple1

('피', '아', '노')

In [8]:
# 튜플 생성시 주의사항: 단일 항목의 경우
t1 = ('파이썬',)
t2 = ('파이썬')  # 단일 항목의 경우 ,가 없으면 str으로 들어간다.
t3 = 'drum',
t4 = 'drum' # 길이 4네..

In [12]:
t1
t2
t3
t4

('파이썬',)

'파이썬'

('drum',)

'drum'

In [59]:
len(t1)
len(t2)
len(t3)
len(t4)
print( type(t1), type(t2),type(t3),type(t4) )

1

3

1

4

<class 'tuple'> <class 'str'> <class 'tuple'> <class 'str'>

In [17]:
# 튜플 생성시 주의사항: 복수 항목의 경우
t5 = (1,2,3,)
t6 = (1,2,3)
t7 = 'a', 'b','c',
t8 = 'a','b','c'

In [57]:
t5
t6
t7
t8
print(type(t5), type(t6), type(t7), type(t8))  # 모두 다 뭐??

(1, 2, 3)

(1, 2, 3)

('a', 'b', 'c')

('a', 'b', 'c')

<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'>

In [20]:
len(t5)
len(t6)
len(t7)
len(t8)

3

3

3

3

In [21]:
# 튜플 관련 연산자와 메소드(1/2)
# 튜플은 일단 생성되면 변경할 수 없기 때문에 영향을 미치지 않는 메소드와 연산자만 지원

In [23]:
alist = [1, -7, 1.23]
atuple = ('토','일',True)
complex = (tuple(), alist, '드럼', atuple, [])

In [24]:
complex

((), [1, -7, 1.23], '드럼', ('토', '일', True), [])

In [25]:
type(complex)

tuple

In [26]:
len(complex)

5

In [27]:
complex[-2][-1]

True

In [28]:
atuple * 2

('토', '일', True, '토', '일', True)

In [29]:
complex += atuple  #이거 왜들어가는거지? 변환 안된다며?, 변수재할당 한것일뿐...
#extend는 불가

In [30]:
complex

((), [1, -7, 1.23], '드럼', ('토', '일', True), [], '토', '일', True)

In [35]:
#튜플 관련 연산자 및 메소드(2/2)
complex[2:5]
'드럼' in complex
-7 in complex
-7 in complex[1]

('드럼', ('토', '일', True), [])

True

False

True

In [36]:
complex.count('토')

1

In [37]:
complex.index('드럼')

2

In [38]:
complex.sort() # 값을 변경하는 메소드라서 지원 안함.

AttributeError: 'tuple' object has no attribute 'sort'

In [39]:
# 튜플 대입: 우변의 값을 좌변의 변수에 할당하는 과정  튜플만 할수있는 좋은 것.
# 좌변: 변수 튜플  우변: 표현식 튜플(문자열도 가능)

In [40]:
# 예시: 튜플 대입
i, j, k = '드럼', ' 기타', '피아노'
print(i,j,k)

드럼  기타 피아노

In [41]:
i, j = j, i  # 스왑 swap operation 쭈왑

In [42]:
print(i,j,k)

 기타 드럼 피아노

In [44]:
x,y = 1,2,3

ValueError: too many values to unpack (expected 2)

In [46]:
email = 'abc@xyz.kr'
print(email.split('@')) # 리스트 형으로 분할하는구나 
user_name, domain = email.split('@')
user_name
domain

['abc', 'xyz.kr']

'abc'

'xyz.kr'

In [ ]:
# 더미변수와 튜플 대입

In [64]:
x, _, y, _ = 1,2,3,4 
x
y
_

1

3

4

In [65]:
#튜플 패킹과 언패킹
# 패킹: 하나의 변수에 여러개의 값을 넣는 것
# 언패킹: 패킹된 변수에 여러개의 값을 꺼내오는 것

In [66]:
t = 3.14, [5, -3], 'green', ('드럼','기타')

In [67]:
a,b,c,d = t

In [68]:
a

3.14

In [69]:
b

[5, -3]

In [70]:
c

'green'

In [71]:
d

('드럼', '기타')

In [ ]:
    ################################여기서부터 예습 못함.

In [72]:
# 배열형 패킹/ 언패킹 연산자(1/2)
# * 모든 배열형(리스트, 튜플)은 패킹/언패킹 연산자*를 사용하여 객체의 패킹 또는 언패킹이 가능.
# 패킹 대입문의 좌측에 위치

In [73]:
x,y,*z = 3.14, [5, -3], 'green', ('드럼','기타') #리스트로패킹 되는것이 특징.

In [74]:
x
y
z

3.14

[5, -3]

['green', ('드럼', '기타')]